form {
    display: flex;
    flex-direction: column;
    width: 30%;

    margin: auto;

    .new-task__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-right: 20px;

        label {
            font-size: 20px;
        }

        input {
            padding: 8px;
            border-color: transparent transparent #999 transparent;
            border-bottom: 1px solid #999;
            outline: none;
        }

        ::placeholder {
            font-size: 12px;
        }
    }

    button {
        margin: 20px auto 0;
        padding: 12px 10px;
        width: 20%;
        color: white;

        font-size: 20px;
        background-color: #675bf1;
        outline: none;
        border: none;

        border-radius: 10px;
    }

    button:hover {
        cursor: pointer;
    }

    label.error {
        color: red;
    }

    input.error {
        border-bottom: 2px solid red;
    }

    label.success {
        color: green;
    }

    input.success {
        border-bottom: 2px solid green;
    }
}

.main__content-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    margin-top: 20px;
}

.hidden {
    display: none;
}
